<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Book Event", "Index", "Home", new { area = "Common" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">

                    <li>@Html.ActionLink("Home", "Index", new { Controller = "Home", Area = "Common" })</li>
                    <li>@Html.ActionLink("BrowseEvents", "Index", new { Controller = "BrowseEvents", Area = "Common" })</li>

                    @if (User.Identity.IsAuthenticated)
                    {
                        if (User.IsInRole("A"))
                        {
                        <li>@Html.ActionLink("ListEvents", "Index", new { Controller = "ListEvents", Area = "Admin" })</li>
                        <li>@Html.ActionLink("ListUsers", "Index", new { Controller = "ListUsers", Area = "Admin" })</li>
                        }
                        if(User.IsInRole("A") || User.IsInRole("U"))
                        {
                        <li>@Html.ActionLink("CreateEvent", "Index", new { Controller = "Event", Area = "UserMan" })</li>
                        <li>@Html.ActionLink("Logout", "Logout", new { Controller = "Login", Area = "Security" })</li>
                        }
                    }
                    else
                    {
                        <li>@Html.ActionLink("Register", "Index", new { Controller = "Register", Area = "security" })</li>
                        <li>@Html.ActionLink("Login", "Index", new { Controller = "Login", Area = "Security" })</li>
                    }

                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
